<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coffee Shop</title>
    <link href="https://fonts.googleapis.com/css?family=K2D:400,700|Poppins:400,700|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="wrapper" id="main-wrap">

      <header>
        <div id="logo">
          <img src="/images/panda2.png">
        </div>
        <div id="title">
          <h1>Coffee Shop</h1>
        </div>
      </header>
      <nav>
        <ul>
          <li>
            <a href="/beans">Coffees</a>
          </li>
          <li>
            <a href="/roasters">Roasters</a>
          </li>
        </ul>
      </nav>

      <main>
        <%= yield  %>
      </main>

    </div>
  </body>

</html>
