<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bamboozle</title>
    <link rel="icon" href="/images/panda.png" />
    <link href="https://fonts.googleapis.com/css?family=K2D:400,700|Poppins:400,700|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <header>
      <div id="logo">
        <img src="/images/panda.png">
      </div>
      <div id="title">
        <h1>Bamboozle</h1>
      </div>
    </header>

    <div class="wrapper" id="main-wrap">
      <nav class="sidebar">
        <ul>
          <li>
            <a href="/beans">Coffees</a>
          </li>
          <li>
            <a href="/roasters">Roasters</a>
          </li>
        </ul>
      </nav>

      <main>
        <%= yield  %>
      </main>

    </div>
  </body>

</html>
