<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bamboozle</title>
    <link rel="icon" href="/images/panda.png" />
    <link href="https://fonts.googleapis.com/css?family=K2D:400,700|Poppins:400,700|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style2.css">
  </head>

  <body>
    <section class="wrapper">

      <div class="box logo" id="logo">
        <img src="/images/panda.png">
      </div>

      <div class="box brandname" id="title">
        <h1>Bamboozle</h1>
      </div>

      <nav class="box menu" id="nav">
        <ul>
          <li>
            <a href="/beans">Beans</a>
          </li>
          <li>
            <a href="/roasters">Roasters</a>
          </li>
        </ul>
      </nav>

      <section class="box yieldarea" id="main">
        <%= yield  %>
      </section>

    </section>
  </body>

</html>
