<h1>The Roasters</h1>

<a href="/roasters/new"> Add New Roaster</a>
<br>
<hr>

<% for roaster in @roasters %>

  <h4><a href="/roasters/<%= roaster.id %>"><%= roaster.name %></a></h4>
  <p><%= roaster.location %></p> 
  <form action="/roasters/<%= roaster.id %>/delete" method="post">
    <input type="submit" value="Delete Roaster">
  </form>
  <hr>

<% end %>
