<h1>Add New Roaster</h1>

<form action="/roasters" method="post">

  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input">
  <br>

  <label for="location-input">Location</label>
  <input type="text" name="location" id="location-input">
  <br>

  <label for="blurb-sml-input">Summary</label>
  <input type="text" name="blurb_sml" id="blurb-sml-input">
  <br>

  <label for="blurb-lrg-input">Description</label>
  <input type="text" name="blurb_lrg" id="blurb-lrg-input">
  <br>

  <input type="submit" value="Add New Roaster">

</form>
