<h1>Add New Roaster</h1>

<form action="/roasters" method="post">

  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input">

  <label for="location-input">Location</label>
  <input type="text" name="location" id="location-input">

  <input type="submit" value="Add New Roaster">

</form>
