/*
  google fonts
  font-family: 'Roboto', sans-serif;
  font-family: 'K2D', sans-serif;
  font-family: 'Poppins', sans-serif;
 */

html {
  height: 100%;
}

.wrapper {
  background-image: url("/images/filter_table.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-gap: 2px;
  grid-template-areas:  "hd hd"
                        "nv mn"
                        "ft ft";
  grid-template-columns: 1fr 3fr;
}

.wrapper > header {
  grid-area: hd;
  grid-column: 1 / span 4;
  border: 1px solid black;
}

header {
  /* display: grid | inline-grid; */
  display: flex;
  flex-direction: row;
}

#logo {
  width: 50%
}

#title {
  width: 50%;
}

header div img {
  max-width: 100%;
  max-height: 100%;
}

header h1 {
  font-size: 150%;
  font-weight: bolder;
  text-align: center;
  font-family: "Poppins", "Helvetica", sans-serif;
  text-transform: uppercase;
}

.wrapper nav {
  grid-area: nv;
  grid-column: 1 / span 1;
  border: 1px solid red;
  font-family: "K2D", "Helvetica", sans-serif;
}

nav a {
  color: #79a53e;
}

.wrapper main {
  grid-area: mn;
  grid-column: 2 / span 3;
  border: 1px solid green;
  font-family: "Poppins", "Helvetica", sans-serif;
}

#coffee-img {
  max-width: 20em;
  max-height: 20em;
}

/* @media (min-width: 300px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:  "hd hd"
                          "nv mn"
                          "ft ft"
  } */
/* } */
