body {
  /* background-image: url("/images/filter_table.jpg"); */
  background-color: papayawhip;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:   "logo hd"
                         "logo nav"
                         "mn mn";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 6fr;
}

.logo {
  grid-area: logo;
}

.brandname {
  grid-area: hd;
}

.menu {
  grid-area: nav
}

.yieldarea {
  grid-area: mn;
  display: grid;
  grid-template-areas:   "nv"
                         "contentbox";
  grid-template-columns: 1fr;
}

.navbar {
  grid-area: nv;
}

.contentbox {
  grid-area: contentbox;
}

.contentrow {
  grid-area: contentrow;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:   "leftside rightside";
  grid-template-columns: 1fr 2fr;
}

.left-side{
  grid-area: leftside;
}
.right-side{
  grid-area: rightside;
}

section div img {
  max-width: 100%;
  max-height: 100%;
}

nav ul {
  list-style: none;
}

#coffee-img {
  max-width: 12em;
  max-height: 12em;
}

#roaster_img {
  max-width: 12em;
  max-height: 12em;
}
