<h1>Add New Coffee</h1>

<form action="/beans" method="POST">

  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input">
  <br>

  <label for="roaster-input">Roaster</label>
  <select name="roaster_id" id="roaster-input">
    <% for roaster in @roasters %>
      <option value="<%= roaster.id %>"> <%= roaster.name %> </option>
    <% end %>
  </select>
  <br>

  <label for="profile-input">Roast Profile</label>
  <select name="profile" id="profile-input">
    <option value="Espresso">Espresso</option>
    <option value="Filter">Filter</option>
    <option value="Decaf">Decaf</option>
    <option value="Omni">Omni</option>
  </select>
  <br>

  <label for="origin-input">Origin</label>
  <input type="text" name="origin" id="origin-input">
  <br>

  <label for="process-input">Process</label>
  <input type="text" name="process" id="process-input">
  <br>

  <label for="taste-input">Primary Tasting Note</label>
  <input type="text" name="primary_taste" id="taste-input">
  <br>

  <label for="image-link">Image</label>
  <textarea rows="1" cols="60" type="text" name="image" id="image-link" placeholder="Add image URL here"></textarea>
  <br>

  <label for="blurb-input">Description</label>
  <textarea rows="8" cols="60" type="text" name="blurb" id="blurb-input" placeholder="Add coffee description here"></textarea>
  <br>

  <input class="btn" type="submit" id="Add New Coffee">

</form>
