<h1>Add New Roaster</h1>

<form action="/roasters" method="post">

  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input">
  <br>

  <label for="location-input">Location</label>
  <input type="text" name="location" id="location-input">
  <br>

  <label for="image-link">Image</label>
  <textarea rows="1" cols="60" type="text" name="image" id="image-link" placeholder="Add image URL here"></textarea>
  <br>

  <label for="blurb-sml-input">Summary Blurb</label>
  <textarea rows="6" cols="50" type="text" name="blurb_sml" id="blurb-sml-input" placeholder="Add summary desription of roaster (this will appear in full list of roasters)"></textarea>
  <br>

  <label for="blurb-lrg-input">Full Description</label>
  <textarea rows="10" cols="100" type="text" name="blurb_lrg" id="blurb-lrg-input" placeholder="Add full description of roaster (this will appear when individual roaster selected)"></textarea>
  <br>

  <input type="submit" value="Add New Roaster">

</form>
